assets/R70[[:space:]]FINAL[[:space:]]EM[[:space:]]ALTA.mp4 filter=lfs diff=lfs merge=lfs -text
assets/area-comum/pav3.png filter=lfs diff=lfs merge=lfs -text
assets/area-comum/terreo.png filter=lfs diff=lfs merge=lfs -text
*assets/.mp4 filter=lfs diff=lfs merge=lfs -text
*assets/*.mp4 filter=lfs diff=lfs merge=lfs -text
