@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.otf');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
    font-family: 'Nexa Heavy';
    src: url('../fonts/Nexa\ Heavy.otf');
}

@font-face {
    font-family: 'Nexa Bold';
    src: url('../fonts/Nexa\ Bold.otf');
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/MinionPro-Regular.otf');
}

@font-face {
    font-family: 'New Order';
    src: url('../fonts/New_Order_Light.otf');
}